{
  "plugins": ["react"],
  "extends": "react-app",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "ImportDeclaration": 1,
        "VariableDeclarator": {
          "var": 2,
          "let": 2,
          "const": 3
        },
        "MemberExpression": 1,
        "FunctionDeclaration": {
          "body": 1,
          "parameters": 2
        },
        "FunctionExpression": {
          "body": 1,
          "parameters": 2
        },
        "CallExpression": {
          "arguments": 1
        },
        "ArrayExpression": 1,
        "ObjectExpression": 1
      }
    ],
    "no-trailing-spaces": "error",
    "jsx-quotes": ["error", "prefer-double"],
    "react/boolean-prop-naming": [
      "error",
      {
        "rule": "^(is|has)[A-Z]([A-Za-z0-9]?)+"
      }
    ],
    "react/jsx-first-prop-new-line": [1, "multiline-multiprop"],
    "react/jsx-boolean-value": [2, "never"],
    "react/jsx-closing-bracket-location": [
      1,
      {
        "selfClosing": "line-aligned",
        "nonEmpty": "tag-aligned"
      }
    ],
    "react/jsx-closing-tag-location": 1,
    "react/jsx-max-props-per-line": [
      1,
      {
        "maximum": 1,
        "when": "always"
      }
    ],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-indent": [2, 2],
    "react/jsx-sort-props": [
      1,
      {
        "callbacksLast": true,
        "shorthandFirst": true,
        "ignoreCase": true,
        "reservedFirst": false
      }
    ],
    "react/jsx-no-duplicate-props": [1, { "ignoreCase": true }],
    "react/jsx-sort-default-props": [
      1,
      {
        "ignoreCase": true
      }
    ],
    "react/jsx-props-no-multi-spaces": 1,
    "react/jsx-one-expression-per-line": [1, { "allow": "literal" }],
    "react/jsx-wrap-multilines": [
      1,
      {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "parens-new-line",
        "logical": "parens-new-line",
        "prop": "parens-new-line"
      }
    ],
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": [
      "warn",
      {
        "aspects": ["invalidHref"]
      }
    ]
  }
}
