{
  "plugins": ["react"],
  "extends": "react-app",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "ImportDeclaration": 1,
        "VariableDeclarator": {
          "var": 2,
          "let": 2,
          "const": 3
        },
        "MemberExpression": 1,
        "FunctionDeclaration": {
          "body": 1,
          "parameters": 2
        },
        "FunctionExpression": {
          "body": 1,
          "parameters": 2
        },
        "CallExpression": {
          "arguments": 1
        },
        "ArrayExpression": 1,
        "ObjectExpression": 1
      }
    ],
    "no-trailing-spaces": "error",
    "jsx-quotes": ["error", "prefer-double"],
    "react/boolean-prop-naming": [
      "error",
      {
        "rule": "^(is|has)[A-Z]([A-Za-z0-9]?)+"
      }
    ],
    "react/jsx-first-prop-new-line": ["error", "multiline-multiprop"],
    "react/jsx-boolean-value": ["error", "never"],
    "react/jsx-closing-bracket-location": [
      "error",
      {
        "selfClosing": "line-aligned",
        "nonEmpty": "tag-aligned"
      }
    ],
    "react/jsx-closing-tag-location": "error",
    "react/jsx-max-props-per-line": [
      "error",
      {
        "maximum": 1,
        "when": "always"
      }
    ],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-indent": ["error", 2],
    "react/jsx-sort-props": [
      "error",
      {
        "shorthandFirst": true,
        "callbacksLast": true,
        "ignoreCase": false,
        "reservedFirst": false
      }
    ],
    "react/jsx-no-duplicate-props": ["error", { "ignoreCase": true }],
    "react/jsx-sort-default-props": [
      "error",
      {
        "ignoreCase": true
      }
    ],
    "react/jsx-props-no-multi-spaces": "error",
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "parens-new-line",
        "logical": "parens-new-line",
        "prop": "parens-new-line"
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": { "minProperties": 2, "multiline": true, "consistent": true },
        "ObjectPattern": { "minProperties": 4, "multiline": true, "consistent": true },
        "ImportDeclaration": {
          "minProperties": 2,
          "multiline": true,
          "consistent": true
        },
        "ExportDeclaration": { "minProperties": 2, "multiline": true, "consistent": true }
      }
    ],
    "multiline-ternary": ["error", "always-multiline"],
    "max-statements-per-line": ["error", { "max": 1 }],
    "implicit-arrow-linebreak": "error",
    "react/jsx-one-expression-per-line": ["error", { "allow": "literal" }],
    "react/jsx-no-literals": "error",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": [
      "warn",
      {
        "aspects": ["invalidHref"]
      }
    ]
  }
}
